.main-LOGI {
    height: 100vh;
    background-color: transparent;
    position: relative;
    .login-title{
        text-align: center;
        font-size: 56px;
        padding: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
        img{
            width: auto;
            height: auto;
            animation: pulse 3s ease-in forwards;
            border-radius: 5px;
        }
    }

    .main-content {
        z-index: 1000;
        margin: auto;
        height: auto;
        width: 25%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding: 50px 35px 20px 35px;
        box-shadow: 1px 1px 15px rgba(239, 237, 237, 0.3), -1px -1px 15px rgba(235, 233, 233,0.3);
        border-radius: 5px;
        margin-bottom: 30px;
        .card-box {
            width: 100%;
            .card-header {
                padding: 15px 0;
                text-align: center;
                font-size: 25px;
                background-color: #36b9cc;
                color: #fff;
                text-transform: uppercase;
            }
        }
        .ant-input{
            padding: 10px;
        }
        .ant-input-password{
            padding: 0 10px !important;
        }
    }
    .sign-up{
        margin-top: 20px;
        color: #a8a6a6;
        width: 100%;
        text-decoration: underline;
    }
    .background{
        z-index: -1;
        height: 100%;
        width: 100%;
        position: fixed;
        top: 0;
        left: 0;
        overflow: hidden;
        .background-left{
            position: absolute;
            width: 400px;
            bottom: 0;
            left: 0;
            z-index: -999;
            max-width: 30%;
            animation: pulse-left 1s ease-out forwards;
        }
        .background-right{
            position: absolute;
            width: 400px;
            bottom: 0;
            right: 0;
            z-index: -999;
            max-width: 30%;
            animation: pulse-right 1s ease-out forwards;
        }
        img{
            width: 100%;
            height: auto;
        }
    }
}
.text-align-center{
    text-align: center;
}

@keyframes pulse {
    0% {
        transform: translateY(-100px);
        box-shadow: 1px 1px 20px rgba(242, 239, 136, 0.4);
    }
    50% {
        transform: translateY(10px);
        box-shadow: 0 0 10px rgb(160, 208, 253);
    }
    80% {
        transform: translateY(-20px);
        box-shadow: 1px 1px 20px rgba(242, 239, 136, 0.7);
    }
    100% {
        transform: translateY(0px);
        box-shadow: 1px 1px 20px rgba(154, 198, 238, 0.4);
    }
}


@keyframes pulse-left {
    0% {
        transform: translateX(-100px);
    }
    50% {
        transform: translateX(10px);
    }
    80% {
        transform: translateX(-50px);
    }
    100% {
        transform: translateX(0px);
    }
} 
@keyframes pulse-right{
    0% {
        right: 20px;
    }
    50% {
        right: 5px;
    }
    75% {
        right: 15px;
    }
    100% {
        right: 0;
    }
}

.loading-style{
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    display: flex;
    z-index: 99999;
    justify-content: center;
    align-items: center;
    background: rgba(78, 78, 77, 0.6);
    height: 100vh;
    svg{
        transform: translateY(-65px);
    }
}